services:
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    labels:
      yantr.app: "watchtower"
      yantr.service: "Automatically update running Docker containers"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      DOCKER_API_VERSION: "1.44"
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_SCHEDULE: "0 */3 * * *"
    restart: unless-stopped
