services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    labels:
      yantr.app: "mongodb"
      yantr.service: "NoSQL Database"
    ports:
      - "27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

volumes:
  mongodb_data:
