services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    labels:
      yantr.app: "ollama"
      yantr.service: "ollama"
    ports:
      - "11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    environment:
      OLLAMA_HOST: "0.0.0.0"
    networks:
      - ollama_network

volumes:
  ollama_data:

networks:
  ollama_network:
    name: ollama_network
