services:
  postgresql:
    image: postgres:latest
    container_name: postgresql
    labels:
      yantr.app: "postgresql"
      yantr.service: "PostgreSQL"
    ports:
      - "5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgresql_data:
