services:
  deluge:
    image: linuxserver/deluge:latest
    container_name: deluge
    volumes:
      - deluge-config:/config
      - deluge-downloads:/downloads
    ports:
      - "8112"
      - "6881"
      - "6881/udp"
    restart: unless-stopped
    labels:
      yantr.app: "deluge"
      yantr.service: "Torrent Client"

volumes:
  deluge-config:
    name: deluge-config
  deluge-downloads:
    name: deluge-downloads
