services:
  nostrudel:
    image: ghcr.io/hzrd149/nostrudel:0.46.1
    container_name: nostrudel
    labels:
      yantr.app: "nostrudel"
      yantr.service: "A nostr web client sandbox for exploring and learning the inner workings of the nostr network"
    ports:
      - "80"
    environment:
      CORS_PROXY: nostrudel-cors:8080
    depends_on:
      - nostrudel-cors
    init: true
    restart: unless-stopped

  nostrudel-cors:
    image: ghcr.io/hzrd149/docker-cors-anywhere:0.4.5
    container_name: nostrudel-cors
    environment:
      CORSANYWHERE_REQUIRE_HEADERS: host
    restart: unless-stopped
    labels:
      yantr.app: "nostrudel"
      yantr.service: "Nostrudel Cors service for noStrudel"
