services:
  nostrudel:
    image: ghcr.io/hzrd149/nostrudel:0.46.1@sha256:c89738d354beeef4c41a3b73d483ee8a5ba03950691d0966a7310ed10fc980ef
    container_name: nostrudel
    labels:
      yantra.name: "noStrudel"
      yantra.logo: "QmQd78JBNgAnVAAk6Ux6Jo3tHUXLyzjYeaRZ1EXwMFzHNe"
      yantra.category: "social"
      yantra.port: "80 (HTTP - Web UI)"
      yantra.description: "A nostr web client sandbox for exploring and learning the inner workings of the nostr network"
      yantra.website: "https://github.com/hzrd149/nostrudel"
    ports:
      - "80"
    environment:
      - CORS_PROXY=nostrudel-cors:8080
    depends_on:
      - nostrudel-cors
    init: true
    restart: unless-stopped

  nostrudel-cors:
    image: ghcr.io/hzrd149/docker-cors-anywhere:0.4.5@sha256:641f5ea3265acbc339a03a72b79cd942c4bedab9b1c8b3fc13e5f3f087f649e6
    container_name: nostrudel-cors
    environment:
      - CORSANYWHERE_REQUIRE_HEADERS=host
    restart: unless-stopped
