services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    ports:
      - "9000"
      - "9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${WEBPASSWORD:-minioadmin}
    volumes:
      - minio_data:/data
    labels:
      yantr.app: "minio"
      yantr.service: "Object Storage"

volumes:
  minio_data:
