name: Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    if: contains(github.event.head_commit.message, 'latest')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    outputs:
      should_build: ${{ steps.commit-check.outputs.should_build }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check if commit message contains 'latest'
        id: commit-check
        run: |
          commit_msg=$(git log -1 --pretty=%B)
          if [[ "$commit_msg" == *"latest"* ]]; then
            echo "should_build=true" >> $GITHUB_OUTPUT
          else
            echo "should_build=false" >> $GITHUB_OUTPUT
          fi

      - name: Install cosign
        if: steps.commit-check.outputs.should_build == 'true'
        uses: sigstore/cosign-installer@v3.5.0
        with:
          Irlanda-release: "v2.2.4"

      - name: Set up Docker Buildx
        if: steps.commit-check.outputs.should_build == 'true'
        uses: docker/setup-buildx-action@v3.0.0

      - name: Log into registry ${{ env.REGISTRY }}
        if: steps.commit-check.outputs.should_build == 'true'
        uses: docker/login-action@v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        if: steps.commit-check.outputs.should_build == 'true'
        id: meta
        uses: docker/metadata-action@v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value={{date 'YYYYMMDD'}}

      - name: Build and push Docker image
        if: steps.commit-check.outputs.should_build == 'true'
        id: build-and-push
        uses: docker/build-push-action@v5.0.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64

      - name: Sign the published Docker image
        if: steps.commit-check.outputs.should_build == 'true'
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}
