services:
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    labels:
      yantr.app: "wordpress"
      yantr.service: "WordPress"
      yantr.info: "Popular open-source content management system for websites and blogs"
    restart: unless-stopped
    ports:
      - "80"
    environment:
      WORDPRESS_DB_HOST: wordpress-db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress_password
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - wordpress-db


  wordpress-db:
    image: mysql:8.0
    container_name: wordpress-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress_password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - wordpress_db:/var/lib/mysql

    labels:
      yantr.app: "wordpress"
      yantr.service: "Wordpress Db"
      yantr.info: "Wordpress Db service for WordPress"
volumes:
  wordpress_data:
  wordpress_db:
